{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<h1>Recipe Details</h1>
<div class="items-container">
    <div class="item">
        <h2>{{ recipe.title }}</h2>
        <img class="detail-img" src="{{ recipe.image_url }}" alt="recipe-image">
        <div class="time">
            <img src="{% static '/images/clock.png' %}">
            <p>{{ recipe.time }}</p>
        </div>
        <h3>Ingredients</h3>
        <ul>
            {%  for i in recipe.ingredients_split %}
            <li>{{ i }}</li>
            {%  endfor %}

        </ul>
        <h3>How to prepare?</h3>
        <div class="recipe-info-full">
            {{ recipe.description }}
        </div>
        <div class="buttons-container">
            <a class="button edit" href="{% url 'edit page' recipe.id %}">Edit</a>
            <a class="button delete" href="{% url 'delete page' recipe.id %}">Delete</a>
        </div>
    </div>
</div>
{% endblock %}
