{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <title>Notes</title>
</head>

<body>
<!--navigation bar-->
<header>
    <nav>
        <ul>
            {% if not profile %}
                <li class="img"><img src="{% static 'images/notes.png' %}" width="32" height="32" alt="No image"/></li>
                <li><a href="/">Notes</a></li>
            {% else %}
                <li class="img"><img src="{% static 'images/notes.png' %}" width="32" height="32" alt="No image"/></li>
                <li><a href="/">Notes</a></li>
                <li class="right">
                    {% if not not_show_note %}
                        <a href="{% url 'add note' %}">Add Note</a>
                    {% endif %}
                    <a href="{% url 'profile main' %}">Profile</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>


<div class="body">
    {% block page_content %}
    {% endblock %}
</div>

<footer>
    <div>Python Web Basics Exam @SoftUni</div>
</footer>
</body>
</html>
