{% extends 'base/base.html' %}
{% block page_content %}

    <section id="dashboard-page" class="dashboard">
        <h1>Dashboard</h1>
        {% if not books %}
            <p class="no-books">No books in database!</p>
        {% else %}

            <ul class="my-books-list">
                {% for b in books %}
                    <li class="myBooks">
                        <h3>{{ b.title }}</h3>
                        <p>Type: {{ b.type }}</p>
                        <p class="img"><img src="{{ b.image }}" alt=""></p>
                        <a class="button" href="{% url 'details page' b.id %}">Details</a>
                    </li>
                    {% if forloop.counter|divisibleby:'3' %}
                        </ul>
                        <ul class="my-books-list">
                    {% endif %}
                {% endfor %}
                </ul>

        {% endif %}
    </section>
{% endblock %}